body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ebe2e2;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1, header p {
    margin: 0;
    padding: 0;
}

section {
    padding: 20px 0;
}

section h2 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background: #786d6d;
    color: #fff;
    text-align: justify;
    padding: 10px 0;
}
